page-inicio {

}

#landing{
    background-color: lightblue;

}

.wrap{
    background-color: rgba(140, 140, 140, 0.7);
    margin: 1.6%;
    padding: 2%;
    height: 98.4%;
    text-align: center; 
}
#logo_rise{
    margin-top: 1,6%;
    margin-bottom: 10em;

}
#boton_entrar{
    width: 80%;
}