page-inicio {

}

#landing{

    background: #000 url("../../../assets/img/fondo.png") no-repeat fixed center; 

}

.wrap{
    background-color: rgba(140, 140, 140, 0);
    margin-top: 15em;
    padding: 2em;
    text-align: center; 
}
#logo_rise{
    margin-top: 1,6%;
    margin-bottom: 4em;

}
#boton_entrar{
    width: 80%;
}